{% if todos %}

<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        {% for todo in todos %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="{% if todo.completed %} text-success text-decoration-line-through {% endif %}">
                {{ todo.title }}
            </div>
            <div>
                <span class="action badge rounded-pill text-bg-warning" hx-get="{% url 'mark_todo' todo.pk %}"
                  hx-target="#todoList" style="cursor: pointer;">✔</span>
                <span class="action badge rounded-pill text-bg-danger" hx-delete="{% url 'delete_todo' todo.pk %}"
                  hx-target="#todoList" style="cursor: pointer;">X</span>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% else %}

<h5>Currently, you don't have any todos.</h5>

{% endif %}